<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory System</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

  
</head>
<body>
 <!-- component -->
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />

<!-- component -->
<div class="flex flex-wrap bg-gray-100 w-full h-screen">
  
  <div class="flex flex-col h-screen w-1/6 bg-white rounded p-3 shadow-lg">
    <div class="p-4 flex items-center">
      <svg class="w-6 h-6 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
      <span class="text-xl font-semibold">Inventory System</span>
  </div>
  <nav class="flex flex-col flex-grow bg-white p-4">
      <ul class="flex flex-col flex-grow">
          <li class="mb-2">
            <a href="dashboard"  class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                  <span class="text-gray-600">
                      <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                      </svg>
                  </span>
                  <span>Dashboard</span>
              </a>
          </li>
          <li class="mb-2">
              <a href="#" id="productsButton" class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                  <span class="text-gray-600">
                    <i class="fa-solid fa-boxes-stacked"></i>
                  </span>
                  <span>Products</span>
              </a>
          </li>
          <li class="mb-2">
              <a href="#" id="suppliersButton" class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                  <span class="text-gray-600">
                      <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                      </svg>
                  </span>
                  <span>Supplier</span>
              </a>
          </li>
           <li class="mb-2">
              <a href="#" id="ordersButton" class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                  <span class="text-gray-600">
                      <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4" />
                      </svg>
                  </span>
                  <span>Orders</span>
              </a>
          </li>
       <!--   <li>
              <a href="" class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                  <span class=" text-gray-600">
                      <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                      </svg>
                  </span>
                  <span>My wishlist</span>
              </a>
          </li>
          <li>
              <a href="#" class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                  <span class="text-gray-600">
                      <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"></path>
                      </svg>
                  </span>
                  <span>Settings</span>
              </a>
          </li> -->
          <li class="mt-60">
              <a href="#" class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                  <span class="text-gray-600">
                      <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                      </svg>
                  </span>
                  <span>Change password</span>
              </a>
          </li>
          <li class="mt-auto">
              <a href="/users/logout" class="flex items-center space-x-3 text-gray-700 p-2 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                  <span class="text-gray-600">
                      <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                      </svg>
                  </span>
                  <span>Logout</span>
              </a>
          </li>
      </ul>
     </nav> 
  </div>

  <div class="flex-1 p-8"> <!-- Added flex-1 to take up remaining space -->
    <div id="welcomeSection">
        <div class="p-6">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mb-6">
              <!-- Items Section -->
              <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                <div class="flex justify-between mb-6">
                  <div>
                    <div class="flex items-center mb-1">
                      <div id="itemCount" class="text-2xl font-semibold">Loading...</div>
                    </div>
                    <div class="text-sm font-medium text-gray-400">Items</div>
                  </div>
                  <i class="fa-solid fa-list text-4xl"></i>
                </div>
                <a href="#" id="itemsViewButton" class="text-[#f84525] font-medium text-sm hover:text-red-800">View</a>
              </div>
        
              <!-- Products Section -->
              <div class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5">
                <div class="flex justify-between mb-4">
                  <div>
                    <div class="flex items-center mb-1">
                      <div id="productCount" class="text-2xl font-semibold">Loading...</div>
                    </div>
                    <div class="text-sm font-medium text-gray-400">Products</div>
                  </div>
                  <i class="fa-solid fa-boxes-stacked text-4xl"></i>
                </div>
                <a href="#" id="productsViewButton" class="text-[#f84525] font-medium text-sm hover:text-red-800">View</a>
              </div>
            </div>
              </div>

              <div class="grid grid-cols-1 lg:grid-cols-1  mb-6">
                <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md lg:col-span-2">
                    <div class="flex justify-between mb-4 items-start">
                        <div class="font-medium">Order Statistics</div>
                         
                        
                    </div>
                </div>
            </div>
                    
    </div>
    <%- include('products.ejs'); %>
    <%- include('suppliers.ejs'); %>
    <%- include('orders.ejs'); %>
</div>
</div>

<div id="paginationControls" class="pagination-controls"></div> <!-- Ensure this is included -->

<!-- <button id="clearItemsButton">Clear Items Data</button>
<button id="clearProductsButton">Clear Products Data</button>

<script>
    document.getElementById('clearItemsButton').addEventListener('click', () => {
        localStorage.removeItem('inventoryItems');  // Clears only the 'items' key
        alert('Items data has been cleared from local storage');
    });

    document.getElementById('clearProductsButton').addEventListener('click', () => {
        localStorage.removeItem('products');  // Clears only the 'products' key
        alert('Products data has been cleared from local storage');
    });
</script> -->

  

  <script type="module" src="/product/app.js"></script>
  <script type="module" src="/product/products.js"></script>
  <script type="module" src="/product/supplier.js"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>


</body>
</html>